<!-- Extend the base template -->
{% extends 'global_templates/base.html' %}

<!-- Load static files tag -->
{% load static %}

<!-- Set the title of the page to "Courses" -->
{% block title %} Courses {% endblock %}

<!-- Start the content block -->
{% block content %}

<!-- Include the global navigation bar -->

{% include 'global_templates/global_navbar.html' %}


<!-- Section for displaying course details -->
<section id="product-page-detail" class="product-page-detail">
    <!-- Heading for the courses section -->
    <h1 id="explore">All Courses</h1>

    <!-- Form for searching courses -->
    <form id="search-form" class="search-form">
        <!-- Container for the search input and clear button -->
        <div class="search-input-container">
            <!-- Search input field -->
            <input type="text" id="search-input" class="search-input" placeholder="Search courses...">
            <!-- Button to clear the search input -->
            <button type="button" id="clear-button" class="clear-button" aria-label="Clear search">&times;</button>
        </div>
        <!-- Submit button for the search form -->
        <button type="submit" class="search-button">
            <!-- Search icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <!-- Circle in the search icon -->
                <circle cx="11" cy="11" r="8"></circle>
                <!-- Line in the search icon -->
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </form>

    <!-- Message displayed when no courses match the search query for live searching and redirect client back -->
    <p id="no-results-message" class="no-results-message">No courses found:
        <a href="{% url 'courses:courses' %}"> Go back</a>
    </p>

    <!-- Container for the course items -->
    <div id="courses-container" class="product-page-detail-grid">

        <!-- Check availability of courses -->
        {% if courses %}
        <!-- Loop through each course -->
        {% for course in courses %}
        <!-- Course card with data attributes for title and description -->
        <div class="product-page-detail-card" data-title="{{ course.title }}"
             data-description="{{ course.description }}">
            <!-- Image of the course -->
            <img class="product-page-detail-image" src="{{ course.image.url }}" alt="Course Image">
            <!-- Title of the course -->
            <h3 class="product-page-detail-title">{{ course.title }}</h3>

            <!-- Check if price is available and render it -->
            {% if course.price %}
            <!-- Display the price of the course -->
            <span class="product-page-detail-price">{{ course.price }}</span>
            {% endif %}
            <!-- Description of the course -->
            <p class="product-page-detail-description">{{ course.description }}</p>
            <!-- Link to get the course -->
            <a href="{{ course.affiliate_link }}" class="product-page-detail-link">Get it now</a>

        </div>
        <!-- End for loop -->
        {% endfor %}
        <!-- End if condition -->
        {% endif %}
    </div>
</section>


<!-- Include the global footer -->
{% include 'global_templates/global_footer.html' %}

<!-- Link to the JavaScript file courses.js -->
<script src="{% static 'js/courses.js' %}"></script>

<!-- End the content block -->
{% endblock %}
