<!-- Extend the base template -->
{% extends 'global_templates/base.html' %}

<!-- Load static files tag -->
{% load static %}

<!-- Set the title of the page to "Themes" -->
{% block title %} Themes {% endblock %}

<!-- Start the content block -->
{% block content %}

<!-- Include the global navigation bar -->

{% include 'global_templates/global_navbar.html' %}

<!-- Section for displaying theme details -->
<section id="product-page-detail" class="product-page-detail">
    <!-- Heading for the themes section -->
    <h1 id="explore">All Themes</h1>

    <!-- Form for searching themes -->
    <form id="search-form" class="search-form">
        <!-- Container for the search input and clear button -->
        <div class="search-input-container">
            <!-- Search input field -->
            <input type="text" id="search-input" class="search-input" placeholder="Search themes...">

            <!-- Button to clear the search input -->
            <button type="button" id="clear-button" class="clear-button" aria-label="Clear search">&times;</button>
        </div>
        <!-- Submit button for the search form -->
        <button type="submit" class="search-button">
            <!-- Search icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <!-- Circle in the search icon -->
                <circle cx="11" cy="11" r="8"></circle>
                <!-- Line in the search icon -->
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </form>

    <!-- Message displayed when no courses match the search query for live searching and redirect client back -->
    <p id="no-results-message" class="no-results-message">No themes found:
        <a href="{% url 'themes:themes' %}"> Go back</a>
    </p>

    <!-- Container for the theme items -->
    <div id="themes-container" class="product-page-detail-grid">

        <!-- Check Availability of themes and loop through them -->
        {% if themes %}
        <!-- Loop through each theme -->
        {% for theme in themes %}
        <!-- Theme card with data attributes for title and description -->
        <div class="product-page-detail-card" data-title="{{ theme.title }}"
             data-description="{{ theme.description }}">
            <!-- Image of the theme -->
            <img class="product-page-detail-image" src="{{ theme.image.url }}" alt="Theme Image">
            <!-- Title of the theme -->
            <h3 class="product-page-detail-title">{{ theme.title }}</h3>

            <!-- Check if price is available and render it -->
            {% if theme.price %}
            <!-- Display the price of the theme -->
            <span class="product-page-detail-price">{{ theme.price }}</span>
            {% endif %}
            <!-- Description of the theme -->
            <p class="product-page-detail-description">{{ theme.description }}</p>
            <!-- Link to get the theme -->
            <a href="{{ theme.affiliate_link }}" class="product-page-detail-link">Get it now</a>

        </div>
        <!-- End loop -->
        {% endfor %}
        <!-- End if condition -->
        {% endif %}
    </div>
</section>

<!-- Include the global footer -->
{% include 'global_templates/global_footer.html' %}

<!-- Link to the JavaScript file themes.js -->
<script src="{% static 'js/themes.js' %}"></script>

<!-- End the content block -->
{% endblock %}
